main{
  padding: 1.3rem 1rem;
  background-color: #f2f5f8;
}
.columns{
  padding: 12px;
  display: flex;
}
.left-column{
  width: 24%;
  order: 1;
  display: felx;
  flex-direction: column;
}
.card{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  box-sizing: border-box;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}
.card-author{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name{
  font-size: 1.5rem;
  padding-top: 0.7rem;
}
.description{
  font-size: 1rem;
  padding-top: 0.5rem;
}
.author-message{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 1.2rem;
}
.author-message a{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  color: #3c4858;
}
.author-message a span{
  font-size: 1.3rem;
}
.author-message a span+span{
  font-size: 0.9rem;
}
.card img{
  width: 5.5rem;
}
.author-card-society{
  padding-top: 1rem;
}
.author-card-society a{
  padding: 0 7px;
}
.author-card-society img{
  width: 1.3rem;
}
.main{
  width: 52%;
  /* height: 10000px; */
  order: 2;
}
.right-column{
  width: 24%;
  order: 3;
}
.left-column, article, .right-column{
  padding: 12px;
}
.sticky-tablet{
  position: sticky;
  top: 1.5rem;
}
.card-header{
  display: flex;
  font-size: 16px;
  align-items: center;
}
.card-categories-header{
  margin-bottom: 6px;
}
.card-header img{
  width: 1.05rem;
  padding-right: 1.2px;
  box-sizing: content-box;
}
.categories-list-item, .archive-list-item{
  padding: 6px 8px;
  box-sizing: border-box;
  font-size: 1.15rem;
  transition: all 0.4s;
  color: #3c4858;
}
.categories-list-item:hover, .archive-list-item:hover{
  background-color: #edeff3;
  border-radius: 0.3rem;
  padding: 6px 12px;
  transition: all 0.4s;
}
.categories-list-item:hover span, .archive-list-item:hover span{
  background-color: #adb7d0;
  transition: all 0.4s;
}
.categories-list-item span, .archive-list-item span{
  float: right;
  transition: all 0.4s;
  margin-right: 10px;
  font-size: 0.9rem;
  padding: 3px 7px;
  text-align: center;
  border-radius: 0.3rem;
  background-color: #edeff3;
}
.card-tag-header{
  margin-bottom: 16px;
}
.tag-list{
  overflow: auto;
}
.tag-list-item{
  float: left;
  background-color: #edeff3;
  padding: 3px 7px;
  margin: 0 7px 8px 7px;
  border-radius: 0.3rem;
}
.card-tag-header, .card-recent-header, .card-archive-header{
  margin-bottom: 16px;
}
.recent-list-item{
  padding-left: 6px;
  margin-bottom: 10px;
}
.recent-item-time{
  font-size: 0.9rem;
}
.recent-item-title{
  color: #3c4858;
  font-size: 1.15rem;
  padding: 6px 0 6px 8px;
  margin-top: 6px;
  transition: all 0.4s;
}
.recent-item-title:hover{
  background-color: #edeff3;
  border-radius: 0.3rem;
  padding-left: 16px;
  transition: all 0.4s;
}
